LAB_HTTP_PORT=8080
LAB_HTTPS_PORT=8443
LAB_EXTERNAL_URL=https://localhost:8443
LAB_DOMAIN=localhost
TZ=Etc/UTC
SSL_CERT_AUTOGEN=1
SSL_CERT_CN=localhost
SSL_CERT_SAN=DNS:localhost
SSL_CERT_DAYS=365

GITEA_VERSION=1.22.1
GITEA_UID=1000
GITEA_GID=1000
GITEA_DB_PASSWORD=gitea
GITEA_DB_ROOT_PASSWORD=3103898ae6d6cf7dbc8051cd18f66864fdfcd8de04451505

PENPOT_VERSION=latest
PENPOT_SECRET_KEY=5e8dfaed7c1d5ee0ae82a8097b376ce74715cc343f8e8acebfcf4205c8d0cee9
PENPOT_DB_PASSWORD=penpot
PENPOT_FLAGS=disable-email-verification

DRAWIO_VERSION=latest

MARKTEXT_VERSION=0.17.1

BOOKSTACK_VERSION=latest
BOOKSTACK_UID=1000
BOOKSTACK_GID=1000
BOOKSTACK_APP_KEY=base64:9aBpsRGAXjUod0mKtjKfKFvx4EVSEjvxDxocuScH5iM=
BOOKSTACK_DB_PASSWORD=bookstack
BOOKSTACK_DB_ROOT_PASSWORD=fb98c120d8b4beca2174fb99120af09b792a861b999ecd3c

NODE_DEV_BASE_IMAGE=ghcr.io/coder/code-server:latest
NODE_DEV_NODE_VERSION=20.15.1
NODE_DEV_PNPM_VERSION=9.12.3
NODE_DEV_YARN_VERSION=1.22.22
NODE_DEV_INSTALL_PACKAGES=
NODE_DEV_PASSWORD=807596fe932c3887276a317b932e3029
NODE_DEV_AUTH=password
NODE_DEV_EXTENSIONS=
NODE_DEV_GLOBAL_PACKAGES=

PYTHON_DEV_BASE_IMAGE=ghcr.io/coder/code-server:latest
PYTHON_DEV_PYTHON_VERSION=3.12.5
PYTHON_DEV_INSTALL_PACKAGES=
PYTHON_DEV_PIP_PACKAGES=
PYTHON_DEV_PIP_INDEX_URL=
PYTHON_DEV_PIP_EXTRA_INDEX_URL=
PYTHON_DEV_PASSWORD=023a0b4cb8f1f4a57be585192e0b3575
PYTHON_DEV_AUTH=password
PYTHON_DEV_EXTENSIONS=
PYTHON_DEV_RUNTIME_PIP_PACKAGES=

AI_DEV_BASE_IMAGE=ghcr.io/coder/code-server:latest
AI_DEV_PYTHON_VERSION=3.12.5
AI_DEV_INSTALL_PACKAGES=
AI_DEV_PIP_PACKAGES=numpy pandas scikit-learn matplotlib seaborn jupyterlab ipykernel transformers accelerate
AI_DEV_PIP_INDEX_URL=
AI_DEV_PIP_EXTRA_INDEX_URL=
AI_DEV_PASSWORD=8f3e9a93e520a6198cc91eed6e308105
AI_DEV_AUTH=password
AI_DEV_EXTENSIONS=
AI_DEV_RUNTIME_PIP_PACKAGES=

CPP_DEV_BASE_IMAGE=ghcr.io/coder/code-server:latest
CPP_DEV_PACKAGES=build-essential cmake ninja-build gdb clang lldb lld
CPP_DEV_INSTALL_PACKAGES=
CPP_DEV_PASSWORD=57b90603124c6820503df9e998c352cd
CPP_DEV_AUTH=password
CPP_DEV_EXTENSIONS=
